# Vídeos (Formatos comuns)
*.mkv
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.webm
*.m4v
*.mp3
*.txt

# Legendas
*.srt
*.ass
*.ssa
*.vtt
*.sub
*.idx

# Arquivos Temporários e Sistema
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs e arquivos de saída de tradução
*.pt.srt
*.log
Michael [2026] HDTS v2 YG/